h1 {
    color: rgb(17, 0, 255);
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 0, 255);
    background-color: rgb(190, 190, 157);
}
nav {
    width: 100%;
    background-color: green;
    padding: 15px 0;
}
.nav-tabs {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("C:\Users\windows 11\Desktop\Hardex Files\WhatsApp Image 2026-03-31 at 11.45.58.jpeg");
}
.nav-tabs li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-right: 20px;
}
.nav-tabs li a:hover {
    color: #f4b400;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form button {
    padding: 12px 25px;
    background: #f4b400;
    color: #111;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    height: 200px;
    width: 260px;

}
.back {
    color: #000;
    background-repeat: ;
}
.pictorial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 7px; /* space between images */
  padding: 5px;
}

.pictorial img {
  width: 300px;
  height: 250px;
  object-fit: cover; /* keeps image aspect ratio and fills container */
  border-radius: 8px; /* optional: rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* optional: subtle shadow */
}

